body {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;

}

.header {
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    font-size: 18px;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.left-side-header, .right-side-header {
    display: flex;
    align-items: center;
    gap: 16px;
}


.hero-section {
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 48px;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.left-hero-section {
    display: flex;
    flex-direction: column;
    padding: 8px;

}

.right-hero-section {
    display: flex;
    align-items: center;
}

.information-section-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.information-section {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-bottom: 50px;
}

.information-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    max-width: 200px;

}

.card {
    text-align: center;
    font-size: 14px;
    
}

.box-place-holder {
    border: 4px solid #3882f6;
    border-radius: 8px;
    width: 100px;
    height: 100px; 
}

.testimonials-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 70px;
}

.testimonial-quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.quote-person {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    font-weight: 900;   
}

.call-to-action-section {

}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1F2937;
  color: #E5E7EB;
}


