body {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
}

.header {
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    font-size: 18px;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.left-side-header, .right-side-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

img {
    height: 150px;
    width: 300px;

}

.hero-section {
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 48px;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.left-hero-section {
    display: flex;
    flex-direction: column;
    padding: 8px;

}

.right-hero-section {
    display: flex;
    align-items: center;
}

